* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


header {

    top: 0;
    /* Position the navbar at the top of the page */


    position: fixed;
    z-index: 100;
    background: #fff;
    width: 100%;
    height: 80px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);


}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.hamburger {
    display: none;

}


.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #000;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: white;
    background: #57aeb3;

}

.nav-bar ul li a.active {
    color: white;
    background: #64CACF;

}

/* dropdown-menu media queries */

@media only screen and (max-width:1320px) {
    header {
        padding: 0 50 px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block !important;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: white;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

/* dropdown-menu media queries finish */

.main-map-content {
    /* margin: 100px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif; */

}




@media only screen and (max-width: 600px) {
    .jumbotron {
        padding: 4rem 2rem;
    }

}

@media only screen and (max-width: 768px) {

    .jumbotron {
        width: 100%;
    }

    .jumbotron .jumbotron-filters {
        height: 450px !important;
        flex-direction: column;

    }

    .blue-line {
        display: none !important;
    }

}

@media only screen and (max-width: 320px) {

    .jumbotron {
        width: 100%;
    }

    .jumbotron .jumbotron-filters {
        height: 500px !important;
        flex-direction: column;

    }

}

/* Media query */
@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: 1rem;
        justify-content: center;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

}

.blue-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    margin-top: 100px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 1rem;
    justify-content: center;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.jumbotron-filters {

    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
    height: 125px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;

}

.jumbotron-filters-item {
    text-align: center;
    width: 100%;
}

.jumbotron-filters-item i {
    display: flex;
    justify-content: center;
}

.jumbotron-filters-item p {
    display: flex;
    justify-content: center;
}


/*#region Select Location */

.selectLocation {
    border: 0 solid rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}



.selectLocation select {
    border: 0 solid rgb(255, 255, 255);
    text-decoration: underline;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
}

/*#endregion */
.info-hotels {
    background: #D1EFF1;
    width: 100%;
    height: 100px;
}

.filter-bar {
    background-color: rgb(206, 206, 206);
    width: 100%;
    justify-content: center;
    display: flex;
    border-radius: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.course {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(218, 236, 237);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba (0, 0, 0, .2);
    display: flex;
    max-width: 100%;
    overflow: hidden;


}



.preview {
    background: rgb(218, 236, 237);
    color: blue;
    padding: 5px;
    width: 250px;

    margin: auto;
    display: block;
}

/* .preview a {
    color: black;
    font-size: 12px;
    opacity: .6;
    margin-top: 30px;
    text-decoration: none; */
/* } */
.info {
    padding: 5px;

    width: 100%;


}

.progress-wrapper {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;

}

.progress {
    background: yellow;
    border-radius: 3px;
    height: 5px;
    width: 100%;

}

.progress::after {
    content: '';
    border-radius: 3px;
    background: green;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 36%;

}

.progress-text {
    font-size: 10px;
    opacity: .6;
    letter-spacing: 1px;
}

.info p {
    font-size: 12px;
    font-weight: bold;
}

.btn {
    background: #64CACF !important;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    color: white !important;
    font-size: 16px;
    padding: 10px 70px !important;
    margin-right: 20px;
    float: right;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: bold;
    border-radius: 50px !important;
}

.btn:hover {
    background: #fff;
    color: black;
    border: 1px solid rgb(100, 202, 207);
    transform: scale(1.05);
}

@media(max-width:768px) {
    .course {
        flex-direction: column;
    }

    .preview {
        width: 100%;
        display: block;
        text-align: center;

    }

    .preview img {
        width: auto;
        height: auto;
    }

    /* .preview h2 {
    margin: 10px 0  0; 
}
.preview a
{
    margin-top:10px ;
}  */
    .info h2 {
        margin-top: 20px;
    }

    .ınfo p {
        margin-bottom: 50px
    }

    .btn {
        padding: 10px 15px;
        float: right;
        font-size: 14px;
        margin-top: -46px !important;

    }
}

.btn {
    margin-top: -90px;
}

.img {
    height: auto;
    width: 200px;
    border-radius: 10px 10px 10px 10px;

}

h6 {
    color: yellow;
}

.footer-clean {
    padding: 50px 0;
    background-color: whitesmoke;
    color: #4b4c4d;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}