* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


header {

    top: 0;
    /* Position the navbar at the top of the page */


    position: fixed;
    z-index: 100;
    background: #fff;
    width: 100%;
    height: 80px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);


}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.hamburger {
    display: none;

}


.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #000;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: white;
    background: #57aeb3;

}

.nav-bar ul li a.active {
    color: white;
    background: #64CACF;

}

/* dropdown-menu media queries */

@media only screen and (max-width:1320px) {
    header {
        padding: 0 50 px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block !important;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: white;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

/* dropdown-menu media queries finish */

.main-map-content {
    /* margin: 100px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif; */

}




@media only screen and (max-width: 600px) {
    .jumbotron {
        padding: 4rem 2rem;
    }


}

@media only screen and (max-width: 768px) {

    .jumbotron {
        width: 100%;
    }

    .jumbotron .jumbotron-filters {
        height: 450px !important;
        flex-direction: column;

    }

    .info-box {
        height: 150px !important;
        flex-direction: column;
    }




    .blue-line {
        display: none !important;
    }

}

@media only screen and (max-width: 320px) {

    .jumbotron {
        width: 100%;
    }

    .jumbotron .jumbotron-filters {
        height: 500px !important;
        flex-direction: column;

    }

    .info-box {
        height: 300px !important;
        flex-direction: column;
    }




}

/* Media query */
@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: 1rem;
        justify-content: center;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }


}

#grad-1 {

    background-image: linear-gradient(to right, #ebdefd, #b6e4e3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);


}

.blue-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.jumbotron {

    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 1rem;
    justify-content: center;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.jumbotron-filters {

    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
    height: 125px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;

}

.jumbotron-filters-item {
    text-align: center;
    width: 100%;
}

.jumbotron-filters-item i {
    display: flex;
    justify-content: center;
}

.jumbotron-filters-item p {
    display: flex;
    justify-content: center;
}


/*#region Select Location */

.selectLocation {
    border: 0 solid rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}



.selectLocation select {
    border: 0 solid rgb(255, 255, 255);
    text-decoration: underline;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
}

/*#endregion */
.info-hotels {
    background: #D1EFF1;
    width: 100%;
    height: 100px;
}

.filter-bar {
    background-color: rgb(206, 206, 206);
    width: 100%;
    justify-content: center;
    display: flex;
    border-radius: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.course {
    margin-top: 20;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(230, 241, 243, 1) 0%, rgba(169, 201, 199, 1) 35%, rgba(189, 176, 203, 1) 100%);
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba (0, 0, 0, .2);
    display: flex;
    max-width: 100%;



}



.preview {

    margin: auto;
    display: block;
}

.preview img {}

/* .preview a {
    color: black;
    font-size: 12px;
    opacity: .6;
    margin-top: 30px;
    text-decoration: none; */
/* } */
.info {
    padding: 5px;

    width: 100%;


}

.progress-wrapper {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;

}

.progress {
    background: yellow;
    border-radius: 3px;
    height: 5px;
    width: 100%;

}

.progress::after {
    content: '';
    border-radius: 3px;
    background: green;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 36%;

}

.progress-text {
    font-size: 10px;
    opacity: .6;
    letter-spacing: 1px;
}

.info p {
    font-size: 12px;
    font-weight: bold;
}

/* .btn {
    background: #64CACF !important;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    color: white !important;
    font-size: 16px;

    float: right;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: bold;
    border-radius: 50px !important;
} */

.btn {
    width: 180px;
    float: right;
    margin-top: -70px !important;

}

.btn a {
    color: white !important;
}



.btn i {
    margin-right: 20px;
}

/* .btn:hover {
    background: #fff;
    color: black;
    border: 1px solid rgb(100, 202, 207);
    transform: scale(1.05);
} */

@media(max-width:768px) {
    .course {
        flex-direction: column;
    }

    .btn {
        margin-top: -50px !important;
        width: 60%;
    }

    .preview {
        width: 100%;
        display: block;
        text-align: center;

    }

    .preview img {
        width: auto;
        height: auto;
    }

    /* .preview h2 {
    margin: 10px 0  0; 
}
.preview a
{
    margin-top:10px ;
}  */
    .info h2 {
        margin-top: 20px;
    }

    .ınfo p {
        margin-bottom: 50px
    }

    .btn {
        padding: 10px 15px;
        float: right;
        font-size: 14px;
        margin-top: -46px !important;

    }
}



.course img {
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.img {

    border-radius: 10px 10px 10px 10px;

}

h6 {
    color: yellow;
}

.footer-clean {
    padding: 50px 0;
    background-color: whitesmoke;
    color: #4b4c4d;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }

    .cards-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .card {
        margin-bottom: 15px;
    }
}

.cards-content {
    justify-content: space-between;
}

.hotel-card-button {
    background-color: #64CACF;
    color: white;
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

.card {
    border: 0 !important;
    border-radius: 10px;
}

.card-body a {
    text-align: center;
}

.card-link {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-link a {
    padding: 10px 40px;
    border-radius: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.modal-footer {
    height: 200px;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

.rezervation-link button {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.info h2 {
    display: flex;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }

    .image-gallery-hotel {
        display: block !important;
        justify-content: center !important;
        align-items: center;
    }
}

.image-gallery-hotel {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

/* hotel reservation */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ededed;
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    transform: translate3d(-640px, 0, 0);
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cont.s--signup .img:before {
    transform: translate3d(640px, 0, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
    transform: translateX(520px);
}

.img__text.m--in {
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
}

.img__btn span.m--in {
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    transform: translate3d(0, 0, 0);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}

.icon-link img {
    width: 100%;
    vertical-align: top;
}

.icon-link--twitter {
    left: auto;
    right: 5px;
}